@charset "UTF-8";
@import "../../../assets/scss/variables";

.navbar-aside-toggler {
  opacity: 1;
}
.navbar {
  &.mainNavbar {
    background-color: #2A1B4D;
  }
}
.completed_btn {
  background-color: #259b24 !important;
 
}
//   **********************************************************************header*************************************************************************  
// Small devices (landscape phones, 576px and up)
@mixin navbar-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin navbar-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin navbar-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin navbar-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin navbar-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin navbar-mixin-max-xs() {
  .navbar-brand-logo {
    min-width: 5.4rem;
    max-width: 5.4rem;
  }
}
// Small devices (landscape phones, less than 768px)
@mixin navbar-mixin-max-sm() {
}
// Medium devices (tablets, less than 992px)
@mixin navbar-mixin-max-md() {
}
// Large devices (desktops, less than 1200px)
@mixin navbar-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin navbar-mixin-max-xl() {
}

.dashboardMain {
  & .customProgress {
    background-color: transparent;
    height: 1.5rem;
    border-radius: 50px;
    & .progress-bar {
      border-radius: 50px;
    }
  }
}

//   **********************************************************************index Page**************************************************************************
// Small devices (landscape phones, 576px and up)
@mixin dashboardMain-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin dashboardMain-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin dashboardMain-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin dashboardMain-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin dashboardMain-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin dashboardMain-mixin-max-xs() {
  .dashboardMain {
    & .avatar-xs.avatar-4x3 {
      width: 1.741667rem;
    }
    & .h5,
    h5 {
      font-size: 0.775rem;
    }
    & .fs-6 {
      font-size: 0.7125rem !important;
    }
    & .nav-segment {
      & .nav-link {
        color: #677788;
        font-size: 0.7125rem;
        padding: 0.3rem 0.2125rem;
        border-radius: 0.5rem;
      }
    }
  }
}
// Small devices (landscape phones, less than 768px)
@mixin dashboardMain-mixin-max-sm() {
}
// Medium devices (tablets, less than 992px)
@mixin dashboardMain-mixin-max-md() {
}
// Large devices (desktops, less than 1200px)
@mixin dashboardMain-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin dashboardMain-mixin-max-xl() {
}

.form-check-input[type="radio"] {
  width: 18px;
  height: 18px;
  &:checked {
    background-image: url(../../admin/assets/img/download.svg) !important;
  }
}
.scroll_card {
  overflow: auto hidden;
  flex-wrap: nowrap;
}

//   **********************************************************************manage public evevnt page**************************************************************************

.managePublicEvent {
  & .leftArrow {
    & i::before {
      font-weight: 900 !important;
      font-size: 24px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@mixin managePublicEvent-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin managePublicEvent-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin managePublicEvent-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin managePublicEvent-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin managePublicEvent-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin managePublicEvent-mixin-max-xs() {
}
// Small devices (landscape phones, less than 768px)
@mixin managePublicEvent-mixin-max-sm() {
  .managePublicEvent {
    & .pageheader {
      & .addEventBtn {
        font-size: 12px;
        padding: 8px 10px;
      }
    }
    & .card {
      & .card-header {
        & .input-group {
          & .form-control {
          }
        }
        & .active_inactive_btn_bar {
          & .filterTitle {
          }
          & .customSelect {
            & .form-select {
            }
          }
          & .filter_apply_rowBtn {
            & .btn {
            }
          }
        }
      }
    }
  }
}
// Medium devices (tablets, less than 992px)
@mixin managePublicEvent-mixin-max-md() {
  .managePublicEvent {
    & .card {
      & .card-header {
        & .input-group {
          & .form-control {
            font-size: 12px;
          }
        }
        & .active_inactive_btn_bar {
          & .filterTitle {
            font-size: 12px;
          }
          & .customSelect {
            & .form-select {
              font-size: 12px;
              padding: 8px 22px 8px 8px;
              background-position: right 0.4rem center;
            }
          }
          & .filter_apply_rowBtn {
            & .btn {
              font-size: 12px;
              padding: 8px 10px;
            }
          }
        }
      }
    }
  }
}
// Large devices (desktops, less than 1200px)
@mixin managePublicEvent-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin managePublicEvent-mixin-max-xl() {
}
@media (max-width: 400px) {
  .managePublicEvent {
    & .pageheader {
      & .col-auto {
        width: 100%;
        margin-top: 8px;
      }
    }
    & .card {
      & .card-header {
        & .input-group {
          & .form-control {
          }
        }
        & .active_inactive_btn_bar {
          & .col-6 {
            width: 100%;
            &:nth-child(2) {
              margin-top: 8px;
            }
          }
          & .filterTitle {
          }
          & .customSelect {
            & .form-select {
            }
          }
          & .filter_apply_rowBtn {
            & .btn {
            }
          }
        }
      }
    }
  }
  .page-header-title {
  }
  .addEventBtn {
    font-size: 12px;
    padding: 8px 10px;
  }
}

.manageUpcomingFree {
  & .pageBody {
    .sectionTitle {
      font-size: 18px;
      font-weight: bold;
    }
    & .card {
      & .title {
        font-size: 18px;
        font-weight: bold;
      }
      & .eventDetail {
        font-size: 15px;
        font-weight: 600;
      }
      & .smallTxt {
        font-size: 14px;
      }
      & .typeEvent {
        font-size: 14px;
        padding: 8px 20px;
        background-color: #2a1b4d;
      }
      & .imgOuter {
        height: 154px;
        & img {
          object-fit: cover;
        }
      }
      & .adminImg {
        width: 50px;
        height: 50px;
        & img {
          object-fit: cover;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@mixin manageUpcomingFree-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin manageUpcomingFree-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin manageUpcomingFree-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin manageUpcomingFree-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin manageUpcomingFree-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin manageUpcomingFree-mixin-max-xs() {
  .manageUpcomingFree {
    & .pageBody {
      .sectionTitle {
        font-size: 15px;
      }
      & .card {
        & .title {
        }
        & .eventDetail {
          font-size: 14px;
        }
        & .smallTxt {
          font-size: 12px;
        }
        & .typeEvent {
          font-size: 12px;
          padding: 6px 14px;
        }
        & .imgOuter {
          & img {
          }
        }
        & .adminImg {
          & img {
          }
        }
      }
    }
    & .fs-sm-12 {
      font-size: 12px !important;
    }
  }
}
// Small devices (landscape phones, less than 768px)
@mixin manageUpcomingFree-mixin-max-sm() {
  .manageUpcomingFree {
    & .pageheader {
      & .addEventBtn {
        font-size: 12px;
        padding: 4px 10px;
      }
    }
  }
}
// Medium devices (tablets, less than 992px)
@mixin manageUpcomingFree-mixin-max-md() {
}
// Large devices (desktops, less than 1200px)
@mixin manageUpcomingFree-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin manageUpcomingFree-mixin-max-xl() {
}

@media (max-width: 400px) {
  .manageUpcomingFree {
    & .pageBody {
      & .customCol {
        width: 100%;
        margin-top: 8px;
      }
      .sectionTitle {
      }
      & .card {
        & .title {
        }
        & .eventDetail {
        }
        & .smallTxt {
        }
        & .typeEvent {
        }
        & .imgOuter {
          & img {
          }
        }
        & .adminImg {
          & img {
          }
        }
      }
    }
  }
}

//   **********************************************************************ecommerce_Products**************************************************************************
.manage_user {
  & .datatable-custom {
    & .table {
      & thead {
        // & tr {
        //   text-align: center;
        // }
      }
      & tbody {
        // & tr {
        //   text-align: center;
        // }
      }
    }
  }
  &.manage_event_list {
    & .left_icone {
      & i {
        &::before {
          font-weight: 900 !important;
          font-size: 20px;
        }
      }
    }
    & .datatable-custom {
      & .table {
        & thead {
        }
        & tbody {
          & tr {
            & .upcoming_event {
              color: #3f51b5;
            }
            & .completed_event {
              color: #259b24;
            }
            & .ongoing_event {
              color: #ff9800;
            }
          }
        }
      }
    }
    & .cardSameHg {
      height: 55px;
    }
   }
   & .rank_img {
    width: 60px;
    height: 60px;
   }
}
.accordion-button::after{
  background-image: url(../../admin/assets/img/down_arrow.svg) !important;

}
.accordion-button:not(.collapsed)::after{
  background-image: url(../../admin/assets/img/up_arrow.svg) !important;

}
// Small devices (landscape phones, 576px and up)
@mixin manage_user-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin manage_user-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin manage_user-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin manage_user-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin manage_user-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin manage_user-mixin-max-xs() {
}
// Small devices (landscape phones, less than 768px)
@mixin manage_user-mixin-max-sm() {
}
// Medium devices (tablets, less than 992px)
@mixin manage_user-mixin-max-md() {
}
// Large devices (desktops, less than 1200px)
@mixin manage_user-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin manage_user-mixin-max-xl() {
}

// custom
@media (max-width: 319px) {
  .manage_user {
    .active_inactive_btn_bar {
      display: grid !important;
    }
  }
}

//   **********************************************************************MANAGE SUBSCRIPTION PAGE**************************************************************************

.subscriptionOuter {
  & .subscriptionInner {
    & .tabelCustom {
      & th {
        &.desHead {
        }
      }
      & td {
        &.desData {
          white-space: inherit;
          text-align: left;
          & p {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 300px;
            margin: 0px;
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@mixin subscription-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin subscription-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin subscription-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin subscription-mixin-min-xl() {
  .subscriptionOuter {
    & .subscriptionInner {
      & .tabelCustom {
        & td {
          &.desData {
            // white-space: unset;
          }
        }
      }
    }
  }
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin subscription-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin subscription-mixin-max-xs() {
}
// Small devices (landscape phones, less than 768px)
@mixin subscription-mixin-max-sm() {
}
// Medium devices (tablets, less than 992px)
@mixin subscription-mixin-max-md() {
}
// Large devices (desktops, less than 1200px)
@mixin subscription-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin subscription-mixin-max-xl() {
  .subscriptionOuter {
    & .subscriptionInner {
      & .tabelCustom {
        & td {
          white-space: nowrap;
        }
      }
    }
  }
}
//   **********************************************************************MANAGE HEALTH CATEGORIES PAGE**************************************************************************

.manageHealthCategories {}
.custom_comment_image{
  width: 30px;
  height: 30px;
}
// Small devices (landscape phones, 576px and up)
@mixin manageHealthCategories-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin manageHealthCategories-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin manageHealthCategories-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin manageHealthCategories-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin manageHealthCategories-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin manageHealthCategories-mixin-max-xs() {
}
// Small devices (landscape phones, less than 768px)
@mixin manageHealthCategories-mixin-max-sm() {
}
// Medium devices (tablets, less than 992px)
@mixin manageHealthCategories-mixin-max-md() {
  .manageHealthCategories {
    & .card-header {
      & .customBtnSize {
        font-size: 12px;
        padding: 8px 10px;
      }
    }
  }
}
// Large devices (desktops, less than 1200px)
@mixin manageHealthCategories-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin manageHealthCategories-mixin-max-xl() {
}

//   **********************************************************************MANAGE REPORTS PAGE**************************************************************************

.manageReportOuter {
  & .manageReportInner {
    & .desData {
      white-space: inherit;
      text-align: left;
      & p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 300px;
        margin: 0px;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@mixin manageReports-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin manageReports-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin manageReports-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin manageReports-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin manageReports-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin manageReports-mixin-max-xs() {
}
// Small devices (landscape phones, less than 768px)
@mixin manageReports-mixin-max-sm() {
}
// Medium devices (tablets, less than 992px)
@mixin manageReports-mixin-max-md() {
}
// Large devices (desktops, less than 1200px)
@mixin manageReports-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin manageReports-mixin-max-xl() {
}



//   **********************************************************************MANAGE MERCHANDISE PAGE**************************************************************************

.manageMerchandiseOuter {
  & .comingsoonImgOuter {
    max-width: 250px;
  }
}
// Small devices (landscape phones, 576px and up)
@mixin manageReports-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin manageReports-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin manageReports-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin manageReports-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin manageReports-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin manageReports-mixin-max-xs() {
}
// Small devices (landscape phones, less than 768px)
@mixin manageReports-mixin-max-sm() {
}
// Medium devices (tablets, less than 992px)
@mixin manageReports-mixin-max-md() {
}
// Large devices (desktops, less than 1200px)
@mixin manageReports-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin manageReports-mixin-max-xl() {
}
//   ********************************************************************** Manage Health Articles page **************************************************************************

@media(max-width: 360px){
  .manageHealthArticles{
    font-size: 13px;
    & .page-header-title{
    }
    & .form-select{
      font-size: 13px;
    }
    & .form-control{
      font-size: 13px;
    }
    & .btn{
      font-size: 12px;
    }
    & .footerPagination{
      & .page-link{
        font-size: 13px;
      }
    }
  }
}

//   **********************************************************************VIEW REPORTED ACTIVITY DETAILS************************************************************************** 

.viewReprtedActivityDetailsOuter {
  & .card_box_sh {
    box-shadow: 0px 0px 115px -26px rgba(0, 0, 0, 0.02);
    border-radius: 15px;

    &.cusser {
      cursor: pointer;
    }

    & .card_box_profile {
      & .user_name_image {
        & .custom_user_image {
          width: 44px;
          height: 44px;
          border-radius: 50%;
          border: 2px solid $theme1;
          overflow: hidden;
        }
        & .user_image {
          width: 100% !important;
          height: 100% !important;
        }

        & .profile_user_text {
          & .user_name {
            font-weight: 600;
            font-size: 14px;
            line-height: 15px;
          }

          & .time_and_Date {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #a9a9a9;
          }
        }
      }

      & .icon_dropy {
        & .box_drop {
          & .toggle_Drop {
            width: 32px;
            height: 27px;
            background: #f7f7f8;
            border-radius: 5px;

            & img {}

            &::after {
              vertical-align: unset;
              display: inline-block;
              margin-left: 2px;
              content: "";
              border-right: 0;
              border-bottom: 0;
              border-left: 0;
            }
          }

          & .dropdown-menu.show {
            display: block;
            background: $white;
            box-shadow: 0px 0px 32px -6px rgb(0 0 0 / 10%);
            border-radius: 10px;
            padding: 0px;

            & .dropdown-item {
              border-radius: 10px;

              &:active {
                background: $white;
              }

              &:focus-visible {
                outline: none;
              }
            }

            & .dorop_item {
              font-size: 14px;

              & .imageicon {
                width: 16px;
              }

              &:hover {
                background-color: #e9ecef;
              }
            }
          }
        }
      }

      & .text_Message {
        & .morning_walk_time {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
        }

        & .summery_text {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
        }
      }

      & .clc_time_km {
        & .imageSizeOuter {
          width: 18px;
        }
        & .icon_text {
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: #646464;
        }
      }

      & .map {
        border-radius: 15px;
        overflow: hidden;
        & .maps_card {
          height: 300px;
          overflow: hidden;
        }
      }

      & .like_com_shr {
        & img {
          height: 23px;
          width: 100%;
        }

        & .view_Button {
          & .view_Button_a {
            font-size: 14px;
            font-weight: 500;
            border: none;
            & img {
              height: 9px;
            }
          }
        }

        & .liketext {
          font-weight: 600;
          font-size: 13px;
          line-height: 23px;
        }
      }

      & .comment_all {
        & .view_all_comments {
          & .view_com {
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            color: #a9a9a9;
          }
        }

        & .show_comment {
          & .comment_user_nam {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
          }

          & .comment_text {
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

.likesOuter {
  & .proImage {
    width: 50px;
    height: 50px;
  }
  & .proText {}
}
// Small devices (landscape phones, 576px and up)
@mixin viewReportActivityDetails-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin viewReportActivityDetails-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin viewReportActivityDetails-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin viewReportActivityDetails-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin viewReportActivityDetails-mixin-min-xxl() {}
// X-Small devices (portrait phones, less than 576px)
@mixin viewReportActivityDetails-mixin-max-xs() {
  .viewReprtedActivityDetailsOuter {
    & .card_box_sh {
      box-shadow: 0px 0px 115px -26px rgba(0, 0, 0, 0.02);
      border-radius: 15px;

      & .card_box_profile {
        & .user_name_image {
          & .custom_user_image {
            width: 35px;
            height: 35px;
          }
          & .user_image {
            width: 16%;
          }

          & .profile_user_text {
            & .user_name {
              font-weight: 600;
              font-size: 12px;
              line-height: 12px;
            }

            & .time_and_Date {
              font-weight: 400;
              font-size: 10px;
              line-height: 14px;
            }
          }
        }

        & .icon_dropy {
          & .box_drop {
            & .toggle_Drop {
              width: 30px;
              height: 27px;

              & img {
                height: 4px;
              }

              &::after {
                margin-left: 0px;
                content: "";
                margin-top: 11px;
              }
            }

            & .dropdown-menu.show {
              display: block;
              background: $white;
              box-shadow: 0px 0px 32px -6px rgb(0 0 0 / 10%);
              border-radius: 10px;
              padding: 0px;

              & .dorop_item {
                border-radius: 10px;
                font-size: 12px;

                &:hover {
                  background-color: $white;
                }
              }
            }
          }
        }

        & .text_Message {
          & .morning_walk_time {
            font-size: 11px;
            line-height: 15px;
          }

          & .summery_text {
            font-size: 10px;
            line-height: 14px;
          }
        }

        & .clc_time_km {
          & .imageSizeOuter {
            width: 11px;
          }
          & .icon_text {
            font-weight: 600;
            font-size: 10px;
            line-height: 10px;
          }
        }

        & .map {
          border-radius: 15px;

          & .maps_card {
            height: 130px;
          }
        }

        & .like_com_shr {
           & .widText {
            font-size: 11px;
           }
          & .view_Button {
            & .view_Button_a {
              font-size: 10px;
            }
          }

          & .liketext {
            font-weight: 600;
            font-size: 10px;
            line-height: 11px;
          }
        }

        & .comment_all {
          & .view_all_comments {
            & .view_com {
              font-weight: 500;
              font-size: 11px;
              line-height: 10px;
            }
          }

          & .show_comment {
            & .comment_user_nam {
              font-size: 11px;
              line-height: 12px;
            }

            & .comment_text {
              font-size: 10px;
              line-height: 12px;
            }
            & .comment-time {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
// Small devices (landscape phones, less than 768px)
@mixin viewReportActivityDetails-mixin-max-sm() {
  .viewReprtedActivityDetailsOuter {
    & .card_box_sh {

      & .card_box_profile {
        & .user_name_image {
          & .custom_user_image {
          }
          & .user_image {
          }
          & .profile_user_text {
            & .user_name {
            }
            & .time_and_Date {
            }
          }
        }
        & .icon_dropy {
          & .box_drop {
            & .toggle_Drop {
              & img {
              }
              &::after {
              }
            }

            & .dropdown-menu.show {
              & .dorop_item {
                &:hover {
                }
              }
            }
          }
        }
        & .text_Message {
          & .morning_walk_time {
          }
          & .summery_text {
          }
        }
        & .clc_time_km {
          & .imageSizeOuter {
            width: 15px;
          }
          & .icon_text {
            font-size: 11px;
          }
        }
        & .map {
          & .maps_card {
          }
        }
        & .like_com_shr {
          & img {
          }
          & .view_Button {
            & .view_Button_a {
            }
          }
          & .liketext {
          }
        }
        & .comment_all {
          & .view_all_comments {
            & .view_com {
            }
          }
          & .show_comment {
            & .comment_user_nam {
            }
            & .comment_text {
            }
          }
        }
        & .bottam_user_image {
          & .comment_image_user {
          }
          & .form_com {
          }
        }
      }
    }
  }
}
// Medium devices (tablets, less than 992px)
@mixin viewReportActivityDetails-mixin-max-md() {
}
// Large devices (desktops, less than 1200px)
@mixin viewReportActivityDetails-mixin-max-lg() {}
// X-Large devices (large desktops, less than 1400px)
@mixin viewReportActivityDetails-mixin-max-xl() {
}

@media (max-width: 380px) {
  .viewReprtedActivityDetailsOuter {
    & .card_box_sh {
      box-shadow: 0px 0px 115px -26px rgba(0, 0, 0, 0.02);
      border-radius: 15px;

      & .card_box_profile {
        & .user_name_image {
          & .custom_user_image {
            width: 35px;
            height: 35px;
          }
          & .user_image {
            width: 16%;
          }

          & .profile_user_text {
            & .user_name {
              font-weight: 600;
              font-size: 12px;
              line-height: 12px;
            }

            & .time_and_Date {
              font-weight: 400;
              font-size: 11px;
              line-height: 14px;
            }
          }
        }

        & .icon_dropy {
          & .box_drop {
            & .toggle_Drop {
              width: 30px;
              height: 27px;

              & img {
                height: 4px;
              }

              &::after {
                margin-left: 0px;
                content: "";
                margin-top: 11px;
              }
            }

            & .dropdown-menu.show {
              display: block;
              background: $white;
              box-shadow: 0px 0px 32px -6px rgb(0 0 0 / 10%);
              border-radius: 10px;
              padding: 0px;

              & .dorop_item {
                border-radius: 10px;
                font-size: 12px;

                &:hover {
                  background-color: $white;
                }
              }
            }
          }
        }

        & .text_Message {
          & .morning_walk_time {
            font-size: 12px;
            line-height: 15px;
          }

          & .summery_text {
            font-size: 11px;
            line-height: 14px;
          }
        }

        & .clc_time_km {
          & .imageSizeOuter {
            width: 13px;
          }
          & .icon_text {
            font-weight: 600;
            font-size: 9px;
            line-height: 10px;
          }
        }

        & .map {
          border-radius: 15px;

          & .maps_card {
            height: 130px;
          }
        }

        & .like_com_shr {
           & .widText {
            font-size: 10px !important;
           }
          & .view_Button {
            & .view_Button_a {
              font-size: 10px;
            }
          }

          & .liketext {
            font-weight: 600;
            font-size: 10px;
            line-height: 11px;
          }
        }

        & .comment_all {
          & .view_all_comments {
            & .view_com {
              font-weight: 500;
              font-size: 12px;
              line-height: 10px;
            }
          }

          & .show_comment {
            & .comment_user_nam {
              font-size: 10px;
              line-height: 12px;
            }

            & .comment_text {
              font-size: 9px;
              line-height: 12px;
            }
          }
        }

        & .bottam_user_image {
          & .comment_image_user {
            width: 70%;
          }

          & .form_com {
            font-size: 10px;
            height: 35px;
          }
        }
      }
    }
  }

  }
//   ********************************************************************** View Article Details ************************************************************************** 

.viewArticleDetails {
  & .leftArrow {
    & i::before {
      font-weight: 900 !important;
      font-size: 24px;
    }
  }
  & .pageContent {
    & .bannerSec {
      height: 500px;
      overflow: hidden;
      & .bannerImage {
        object-fit: cover;
      }
    }
  }
}

@media(max-width: 360px){
  .viewArticleDetails{
    font-size: 13px;
    & .page-header-title{
      font-size: 16px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@mixin view-article-details-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin view-article-details-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin view-article-details-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin view-article-details-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin view-article-details-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin view-article-details-mixin-max-xs() {
  .viewArticleDetails {
    & .pageContent {
      & .bannerSec {
        height: auto;
      }
    }
  }
}
// Small devices (landscape phones, less than 768px)
@mixin view-article-details-mixin-max-sm() {
  .viewArticleDetails {
    & .pageContent {
      & .bannerSec {
        height: 300px;
      }
    }
  }
}
// Medium devices (tablets, less than 992px)
@mixin view-article-details-mixin-max-md() {
  .viewArticleDetails {
    & .pageContent {
      & .bannerSec {
        height: 400px;
      }
    }
  }
}
// Large devices (desktops, less than 1200px)
@mixin view-article-details-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin view-article-details-mixin-max-xl() {
}

//   ********************************************************************** Add / Edit Health Articles **************************************************************************

.addEditHealthArticles {
  & .leftArrow {
    & i::before {
      font-weight: 900 !important;
      font-size: 24px;
    }
  }
  & .closeBtn {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: -9px;
    right: -9px;
    & svg {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
  & .searchOption {
    & .form-select {
      &::-webkit-scrollbar {
        display: none !important;
      }
    }
  }
}

@media (max-width: 360px) {
  .addEditHealthArticles {
    font-size: 13px;
    & .page-header-title {
    }
    & .form-select {
      font-size: 13px;
    }
    & .form-control {
      font-size: 13px;
    }
    & .btn {
      font-size: 12px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@mixin add-edit-health-articles-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin add-edit-health-articles-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin add-edit-health-articles-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin add-edit-health-articles-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin add-edit-health-articles-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin add-edit-health-articles-mixin-max-xs() {
}
// Small devices (landscape phones, less than 768px)
@mixin add-edit-health-articles-mixin-max-sm() {
}
// Medium devices (tablets, less than 992px)
@mixin add-edit-health-articles-mixin-max-md() {
}
// Large devices (desktops, less than 1200px)
@mixin add-edit-health-articles-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin add-edit-health-articles-mixin-max-xl() {
}

// **************************************************************** ALL Manage Raised Queries CSS ********************************************************************

@media(max-width: 360px){
  .manageRaisedQueries{
    font-size: 13px;
    & .page-header-title{
      font-size: 16px;
    }
    & .form-select{
      font-size: 13px;
    }
    & .form-control{
      font-size: 13px;
    }
    & .tableTabs{
      overflow-x: auto;
      & .nav-segment{
        flex-wrap: nowrap;
        white-space: nowrap;
      }
    }
    & .table-responsive{
      & tr{
        & .text-inherit{
          font-size: 13px;
        }
        & th{
          font-size: 12px;
        }
      }
    }
    & .pagination{
      & .page-link{
        font-size: 13px;
      }
    }
  }
}


// Small devices (landscape phones, 576px and up)
@mixin all-manage-raised-queries-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin all-manage-raised-queries-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin all-manage-raised-queries-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin all-manage-raised-queries-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin all-manage-raised-queries-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin all-manage-raised-queries-mixin-max-xs() {
}
// Small devices (landscape phones, less than 768px)
@mixin all-manage-raised-queries-mixin-max-sm() {
}
// Medium devices (tablets, less than 992px)
@mixin all-manage-raised-queries-mixin-max-md() {
}
// Large devices (desktops, less than 1200px)
@mixin all-manage-raised-queries-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin all-manage-raised-queries-mixin-max-xl() {
}

// ***********************************************************************leaderboard*************************************************
.leaderboard {
  & .leftArrow {
    & i::before {
      font-weight: 900 !important;
      font-size: 24px;
    }
  }
  & .tbs{
    & .navtbs{
      overflow: auto hidden;
      & .nav-segment{
        flex-wrap: nowrap;
        white-space: nowrap;
      }
    }
  }
  .form-check-input[type=radio] {
    width: 26px;
    height: 26px;
}
}
.navTabs{
  overflow: auto hidden;
  & .nav-segment{
    flex-wrap: nowrap;
    white-space: nowrap;
  }
}
// Small devices (landscape phones, 576px and up)
@mixin leaderboard-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin leaderboard-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin leaderboard-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin leaderboard-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin leaderboard-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin leaderboard-mixin-max-xs() {
  .leaderboard {
    & .pageheader {
      & .page-header-title {
        font-size: 16px;
      }
    }
    & .prog_l{
      text-align: justify;
    }
    & .tabs_name{
      font-size: 12px;
    }
    & .custom_Tables {
      & .table_name{
        font-size: 11px;
    line-height: 19px;
      }
      & .name_l{
        font-size: 12px;}
      }
    }
  }
  // Small devices (landscape phones, less than 768px)
@mixin leaderboard-mixin-max-sm() {
}
// Medium devices (tablets, less than 992px)
@mixin leaderboard-mixin-max-md() {
}
// Large devices (desktops, less than 1200px)
@mixin leaderboard-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin leaderboard-mixin-max-xl() {
}
@media (max-width: 360px) {
}
.custom_Tables {
  & .icon_w {
    width: 35px;
    height: 35px;
  }
}
//   ********************************************************************** View Query Details page **************************************************************************

.viewQueryDetails{
  & .leftArrow {
    & i::before {
      font-weight: 900 !important;
      font-size: 24px;
    }
  }
}

@media(max-width: 360px){
  .viewQueryDetails{
    font-size: 13px;
    & .page-header-title{
      font-size: 16px;
    }
    & .pageHeading{
      font-size: 16px;
    }
    & svg{
      width: 70px;
    }
  }
}


//   ********************************************************************** Subscriptions Manage Earnings page **************************************************************************

@media(max-width: 360px){
  .subscriptionsManageEarnings{
    font-size: 13px;
    & .page-header-title{
      font-size: 16px;
    }
    & .form-select{
      font-size: 13px;
    }
    & .form-control{
      font-size: 13px;
    }
    & .pageBtn{
      font-size: 12px;
    }
    & .table-responsive{
      & tr{
        & .text-inherit{
          font-size: 13px;
        }
        & th{
          font-size: 12px;
        }
      }
    }
    & .pagination{
      & .page-link{
        font-size: 13px;
      }
    }
  }
}

//   ********************************************************************** Manage Sent Notifications page **************************************************************************
@media(max-width: 370px){
  .ManageSentNotifications{
    font-size: 13px;
    & .page-header-title{
      font-size: 16px;
    }
    & .form-select{
      font-size: 13px;
    }
    & .form-control{
      font-size: 13px;
    }
    & .pageBtn{
      font-size: 12px;
    }
    & .tableTabs{
      overflow-x: auto;
      & .nav-segment{
        flex-wrap: nowrap;
        white-space: nowrap;
      }
    }
    & .table-responsive{
      & tr{
        & .text-inherit{
          font-size: 13px;
        }
        & th{
          font-size: 12px;
        }
      }
    }
    & .pagination{
      & .page-link{
        font-size: 13px;
      }
    }
  }
}


//   ********************************************************************** Send Notifications page **************************************************************************

.sendNotifications{
  & .leftArrow {
    & i::before {
      font-weight: 900 !important;
      font-size: 24px;
    }
  }
}

@media(max-width: 370px){
  .sendNotifications{
    font-size: 13px;
    & .page-header-title{
      font-size: 17px;
    }
    & .pageTitle{
      font-size: 15px;
    }
    & .form-control{
      font-size: 13px;
    }
    & .pageBtn{
      font-size: 12px;
    }
  }
}


//   **********************************************************************  Add Edit page **************************************************************************

.addEditOuter{
  & .custombtn:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
  }
  & .btn:not(:hover){
    border-color: #2a1b4d;
    color: #2a1b4d;
    background-color: white;
  }
}

//   ********************************************************************** Change Password page **************************************************************************
.changePasswordPage{
  & .eyeIcon{
    top: 50%;
    right: 12px;
    transform: translate(0, -50%);
  }
}

//   ********************************************************************** Manage Orders Page **************************************************************************

@media(max-width: 360px){
  .manageOrdersPage{
    font-size: 13px;
    & .page-header-title{
      font-size: 16px;
    }
    & .form-select{
      font-size: 13px;
    }
    & .form-control{
      font-size: 13px;
    }
    & .pageBtn{
      font-size: 12px;
    }
    & .table-responsive{
      & tr{
        & .text-inherit{
          font-size: 13px;
        }
        & th{
          font-size: 12px;
        }
      }
    }
  }
}

//   ********************************************************************** View Medal Order Details Page **************************************************************************

@media(max-width: 360px){
  .viewMedalOrderDetails{
    font-size: 10px;
    & .page-header-title{
      font-size: 17px;
    }
    & .cardTitle{
      font-size: 16px;
    }
    & .h3Font{
      font-size: 16px;
    }
    & .form-select{
      font-size: 11px;
    }
    & .form-control{
      font-size: 11px;
    }
    & .pageBtn{
      font-size: 11px;
    }
  }
}


// **************************************************************** INCLUDE CSS ********************************************************************

@media (min-width: 576px) {
  @include dashboardMain-mixin-min-sm();
  @include navbar-mixin-min-sm();
  @include view-article-details-mixin-min-sm();
  @include add-edit-health-articles-mixin-min-sm();
  @include manage_user-mixin-min-sm();
  @include subscription-mixin-min-sm();
  @include managePublicEvent-mixin-min-sm();
  @include manageUpcomingFree-mixin-min-sm();
  @include manageHealthCategories-mixin-min-sm();
  @include manageReports-mixin-min-sm();
  @include all-manage-raised-queries-mixin-min-sm();
  @include leaderboard-mixin-min-sm();
  @include viewReportActivityDetails-mixin-min-sm();
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  @include dashboardMain-mixin-min-md();
  @include navbar-mixin-min-md();
  @include view-article-details-mixin-min-md();
  @include add-edit-health-articles-mixin-min-md();
  @include manage_user-mixin-min-md();
  @include subscription-mixin-min-md();
  @include managePublicEvent-mixin-min-md();
  @include manageUpcomingFree-mixin-min-md();
  @include manageHealthCategories-mixin-min-md();
  @include manageReports-mixin-min-md();
  @include all-manage-raised-queries-mixin-min-md();
  @include leaderboard-mixin-min-md();
  @include viewReportActivityDetails-mixin-min-md();
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  @include dashboardMain-mixin-min-lg();
  @include navbar-mixin-min-lg();
  @include view-article-details-mixin-min-lg();
  @include add-edit-health-articles-mixin-min-lg();
  @include manage_user-mixin-min-lg();
  @include subscription-mixin-min-lg();
  @include managePublicEvent-mixin-min-lg();
  @include manageUpcomingFree-mixin-min-lg();
  @include manageHealthCategories-mixin-min-lg();
  @include manageReports-mixin-min-lg();
  @include all-manage-raised-queries-mixin-min-lg();
  @include leaderboard-mixin-min-lg();
  @include viewReportActivityDetails-mixin-min-lg();
}
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  @include dashboardMain-mixin-min-xl();
  @include navbar-mixin-min-xl();
  @include view-article-details-mixin-min-xl();
  @include add-edit-health-articles-mixin-min-xl();
  @include manage_user-mixin-min-xl();
  @include subscription-mixin-min-xl();
  @include managePublicEvent-mixin-min-xl();
  @include manageUpcomingFree-mixin-min-xl();
  @include manageHealthCategories-mixin-min-xl();
  @include manageReports-mixin-min-xl();
  @include all-manage-raised-queries-mixin-min-xl();
  @include leaderboard-mixin-min-xl();
  @include viewReportActivityDetails-mixin-min-xl();
}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  @include dashboardMain-mixin-min-xxl();
  @include navbar-mixin-min-xxl();
  @include view-article-details-mixin-min-xxl();
  @include add-edit-health-articles-mixin-min-xxl();
  @include manage_user-mixin-min-xxl();
  @include subscription-mixin-min-xxl();
  @include managePublicEvent-mixin-min-xxl();
  @include manageUpcomingFree-mixin-min-xxl();
  @include manageHealthCategories-mixin-min-xxl();
  @include manageReports-mixin-min-xxl();
  @include all-manage-raised-queries-mixin-min-xxl();
  @include leaderboard-mixin-min-xxl();
  @include viewReportActivityDetails-mixin-min-xxl();
}
// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  @include dashboardMain-mixin-max-xl();
  @include navbar-mixin-max-xl();
  @include view-article-details-mixin-max-xl();
  @include add-edit-health-articles-mixin-max-xl();
  @include manage_user-mixin-max-xl();
  @include subscription-mixin-max-xl();
  @include managePublicEvent-mixin-max-xl();
  @include manageUpcomingFree-mixin-max-xl();
  @include manageHealthCategories-mixin-max-xl();
  @include manageReports-mixin-max-xl();
  @include all-manage-raised-queries-mixin-max-xl();
  @include leaderboard-mixin-max-xl();
  @include viewReportActivityDetails-mixin-max-xl();
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  @include dashboardMain-mixin-max-lg();
  @include navbar-mixin-max-lg();
  @include view-article-details-mixin-max-lg();
  @include add-edit-health-articles-mixin-max-lg();
  @include manage_user-mixin-max-lg();
  @include subscription-mixin-max-lg();
  @include managePublicEvent-mixin-max-lg();
  @include manageUpcomingFree-mixin-max-lg();
  @include manageHealthCategories-mixin-max-lg();
  @include manageReports-mixin-max-lg();
  @include all-manage-raised-queries-mixin-max-lg();
  @include leaderboard-mixin-max-lg();
  @include viewReportActivityDetails-mixin-max-lg();
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  @include dashboardMain-mixin-max-md();
  @include navbar-mixin-max-md();
  @include view-article-details-mixin-max-md();
  @include add-edit-health-articles-mixin-max-md();
  @include manage_user-mixin-max-md();
  @include subscription-mixin-max-md();
  @include managePublicEvent-mixin-max-md();
  @include manageUpcomingFree-mixin-max-md();
  @include manageHealthCategories-mixin-max-md();
  @include manageReports-mixin-max-md();
  @include all-manage-raised-queries-mixin-max-md();
  @include leaderboard-mixin-max-md();
  @include viewReportActivityDetails-mixin-max-md();
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  @include dashboardMain-mixin-max-sm();
  @include navbar-mixin-max-sm();
  @include view-article-details-mixin-max-sm();
  @include add-edit-health-articles-mixin-max-sm();
  @include manage_user-mixin-max-sm();
  @include subscription-mixin-max-sm();
  @include managePublicEvent-mixin-max-sm();
  @include manageUpcomingFree-mixin-max-sm();
  @include manageHealthCategories-mixin-max-sm();
  @include manageReports-mixin-max-sm();
  @include all-manage-raised-queries-mixin-max-sm();
  @include leaderboard-mixin-max-sm();
  @include viewReportActivityDetails-mixin-max-sm();
}
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  @include dashboardMain-mixin-max-xs();
  @include navbar-mixin-max-xs();
  @include view-article-details-mixin-max-xs();
  @include add-edit-health-articles-mixin-max-xs();
  @include manage_user-mixin-max-xs();
  @include subscription-mixin-max-xs();
  @include managePublicEvent-mixin-max-xs();
  @include manageUpcomingFree-mixin-max-xs();
  @include manageHealthCategories-mixin-max-xs();
  @include manageReports-mixin-max-xs();
  @include all-manage-raised-queries-mixin-max-xs();
  @include leaderboard-mixin-max-xs();
  @include viewReportActivityDetails-mixin-max-xs();
} 
   
  
